@import '../varabiles.scss';

.position-table {
  border: $border-width solid  $border-color;
  color: $font-color;
  font-size: $font-size;
  height: 280px;
  padding: $wrapper-vertical-padding $wrapper-horizontal-padding;
  width: $wrapper-width;

  &__title {
    font-weight: bold;
  }

  &__positions {
    padding: 12px 0;
  }

  &__table-cell {
    width: 100%;
    text-align: start;
    font-weight: lighter;
  }
}