@import '../varabiles.scss';

.current-player {
  display: flex;
  flex-flow: row wrap;
  border: $border-width solid $border-color;
  color: $font-color;
  font-size: $font-size;
  font-weight: lighter;
  padding: $wrapper-vertical-padding $wrapper-horizontal-padding;
  height: 120px;
  width: $wrapper-width;

  &__title {
    font-weight: bold;
    width: 100%;
  }

  &__name, &__attempts {
    width: 100%;
    text-align: start;
    padding: 12px 0;
  }
}