// general
$font-size: 18px;
$font-color: #ddd;
$border-color: #bbb;
$border-width: 2px;
$button-background: #aaa;

// cards
$icons-size: 60px;
$cards-front-background: #ffb300;
$cards-back-background: #03dcf4;

// header
$header-font-size: 25px;

// side wrappers
$wrapper-width: 390px;
$wrapper-horizontal-padding: 20px;
$wrapper-vertical-padding: 10px;